{% extends 'index.html' %}
{% load staticfiles %}

{% block extrastyles %}
    <link rel="stylesheet" href="{% static "css/auth.css" %}">
{% endblock %}

{% block auth %}
{% endblock %}

{% block content %}
    <div id="form">
        <form method="post">{% csrf_token %}
            {{ form.as_p }}
            <button class="btn" type="submit">{{ action }}</button>
        </form>
        {% if login %}
            <a href="/accounts/register">Нет аккаунта? Зарегистрируйся!</a>
        {% endif %}
    </div>
{% endblock %}

{% block extrascripts %}
{% endblock %}