.errorlist li {
    list-style: none;
    padding: 3px 10px;
    margin: 5px 0;
    border: 1px solid #ebccd1;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
}
.helptext {
    display: block;
    color: #cecece;
}
#content h2 {
    text-align: center;
}
#form {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}
form {
    margin: 10px 0;
}
#menu {
    visibility: hidden;
}