#form {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}
#form h2 {
    font-weight: bold;
    font-size: 25px;
    text-shadow: #a73f3f 2px 2px 2px;
    margin: 10px 0 20px;
}
.object {
    font-size: 19px;
}
#form .btn[type="submit"] {
    background: #bf3f3f;
    box-shadow: #a73f3f 2px 2px 2px;
}
#form button {
    margin: 5px 10px;
}
#form button, #form a {
    display: inline-block;
}