h1, h2, h3, p, ul, li, label {
    margin: 0;
    padding: 0;
}
body {
    background: #28272d;
    color: #fff;
}
form p {
    margin: 10px 0;
}
input, select {
    color: #000;
    border: 0;
    padding: 5px;
    width: 50%;
}
a {
    color: #dedede;
    display: block;
}
a:hover {
    text-decoration: none;
    color: #fff;
}
#header {
    background: #009688;
    height: 150px;
}
#header .container{
    line-height: 100px;
}
#header h1 {
    display: inline-block;
    font-weight: bold;
    vertical-align: middle;
}
#header a {
    color: #fff;
}
#auth {
    display: inline-block;
    float: right;
}
#auth p, #auth a {
    display: inline-block;
}
#auth p {
    margin-right: 15px;
}
.btn {
    font-size: 16px;
    padding: 12px 20px;
    border: 0;
    border-radius: 0;
    color: #FFF;
    background: #1ABC9C;
    box-shadow: #005a52 2px 2px 2px;
}
#menu {
    height: 50px;
    display: table;
    table-layout: fixed;
    width: 100%;
}
#menu .cell {
    margin-right: 10px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    text-transform: uppercase;
    display: table-cell;
    width: auto;
    text-align: center;
}
#menu .cell:last-child {
    margin-right: 0;
}
#menu .cell:hover {
    background: #00664d;
}
#content-main .container {
    margin-top: -50px;
    background: #006b52;
    box-shadow: #024a39 2px 2px 2px;
    margin-bottom: 50px;
    min-height: 450px;
}
#title {
    overflow: hidden;
}
#title h2, #title .action {
    display: inline-block;
}
#title .action {
    float: right;
}
#title .action .btn {
    padding: 6px 12px;
}
#content {
    padding: 15px 0;
}
#content h2 {
    font-weight: bold;
    font-size: 27px;
}