{% extends 'index.html' %}
{% load staticfiles univer %}

{% block extrastyles %}
        <link rel="stylesheet" href="{% static "css/change.css" %}">
{% endblock %}

{% block title %}
    <h2>{{ action }} {{ title | suffix }}</h2>
    <a class="action" href="../delete/"><button class="btn">Удалить {{ title | suffix }}</button></a>
{% endblock %}

{% block content %}
    <div id="form">
        <form method="post">{% csrf_token %}
            {{ form.as_p }}
            <button class="btn" type="submit">Сохранить</button>
        </form>
    </div>
{% endblock %}

{% block extrascripts %}
{% endblock %}