{% extends 'index.html' %}
{% load staticfiles univer %}

{% block extrastyles %}
    <link rel="stylesheet" href="{% static "css/delete.css" %}">
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
    <div id="form">
        <form method="post">{% csrf_token %}
            <h2>Вы уверены, что хотите<br/>удалить {{ title | suffix }}?</h2>
            <p class="object">{{ object }}</p>
            <button class="btn" type="submit">{{ action }}</button>
            <a href="{{ object.get_absolute_url }}"><button class="btn" type="button">Отмена</button></a>
        </form>
    </div>
{% endblock %}

{% block extrascripts %}
{% endblock %}