{% extends "index.html" %}
{% load staticfiles univer %}

{% block extrastyles %}
        <link rel="stylesheet" href="{% static "css/detail.css" %}">
{% endblock %}

{% block title %}
    {{ block.super }}
    {% if user.is_authenticated %}
        <a class="action" href="../change/"><button class="btn">Изменить {{ title | suffix }}</button></a>
    {% endif %}
{% endblock %}

{% block content %}

    <div class="object">
        {% for key, value in object.items %}
            <div class="field">
                {{ key | capfirst }}: {{ value }}
            </div>
        {% endfor %}
    </div>

    <h2>{{ details_header }}</h2>
    <div class="details">
        {% for detail in details %}
            <div class="detail">
                <a href="{{ detail.get_absolute_url }}">{{ detail }}</a>
            </div>
        {% endfor %}
    </div>

{% endblock %}


{% block extrascripts %}
{% endblock %}