<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }} - Универ Сити</title>

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">

    {% block extrastyles %}
    {% endblock %}

</head>
<body>

<div id="header">
    <div class="container">
        <div class="row">
            <h1><a href="/">Универ Сити</a></h1>
            {% block auth %}
            <div id="auth">
            {% if user.is_authenticated %}
                <p>Вы вошли как {{ user.username }}</p><a href="/accounts/logout"><button class="btn">Выйти</button></a>
            {% else %}
                <a href="/accounts/login"><button class="btn">Войти</button></a>
            {% endif %}
            </div>
            {% endblock %}
        </div>
    </div>
</div>

<div id="content-main">
    <div class="container">
        <div class="row">
            <div id="menu">
                <div class="cell"><a href="/">Главная</a></div>
                <div class="cell"><a href="/professor">Профессора</a></div>
                <div class="cell"><a href="/faculty">Факультеты</a></div>
                <div class="cell"><a href="/student">Студенты</a></div>
                <div class="cell"><a href="/subject">Предметы</a></div>
            </div>
        </div>
        <div id="content">
            <div id="title">
                {% block title %}
                    <h2>{{ title }}</h2>
                {% endblock %}
            </div>
            {% block content %}
                <div class="canvas" style="position: relative;margin-top: 15px;">
                    <div id='piechart' style="width: 100%; height: 500px;"></div>
                    <div style="width: 100px;height: 20px;background: white;position: absolute;bottom: 0;right: 0;"></div>
                    <div style="width: 100px;height: 20px;background: white;position: absolute;bottom: 0;left: 0;"></div>
                </div>
            {% endblock %}
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>

{% block extrascripts %}
    <script type="text/javascript" src="{% static 'js/jquery.canvasjs.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/canvas.js' %}"></script>
{% endblock %}


</body>
</html>