{% extends "index.html" %}
{% load staticfiles univer %}

{% block extrastyles %}
    <link rel="stylesheet" href="{% static "css/list.css" %}">
{% endblock %}

{% block title %}
    {{ block.super }}
    {% if user.is_authenticated %}
        <a class="action" href="add/"><button class="btn">Добавить {{ title | suffix }}</button></a>
    {% endif %}
{% endblock %}

{% block content %}

    <div class="object_list">
    {% for object in object_list %}
        <div class="object">
            <a href="{{ object.get_absolute_url }}">{{ object }}</a>
        </div>
    {% endfor %}
    </div>

{% endblock %}


{% block extrascripts %}
{% endblock %}